<p>education works!</p>
<div class="skl">
    <div class="basics">
        <ul >
            <li>{{bsc.date}}</li>
            <hr>
            <li>{{bsc.colname}}</li>
            <hr>
            <li>{{bsc.univecityname}}</li>
            <hr>
            <li>{{bsc.matks}}</li>
            <hr>
            <li>{{bsc.course}}</li>
          
        </ul>
    </div>
  <div class="advance">
    <li>{{Xll.date}}</li>
    <hr>
    <li>{{Xll.colname}}</li>
    <hr>
    <li>{{Xll.univecityname}}</li>
    <hr>
    <li>{{Xll.matks}}</li>
    <hr>
    <li>{{Xll.course}}</li>
  </div>
  <div class="backend">
    <li>{{X.date}}</li>
    <hr>
    <li>{{X.colname}}</li>
    <hr>
    <li>{{X.univecityname}}</li>
    <hr>
    <li>{{X.matks}}</li>
    <hr>
    <li>{{X.course}}</li>
  </div>
</div>

