<div>
    <section id="contact">
	
        <footer class="bg-body-tertiary text-white text-center py-2">
        <div class="container">
        </div>
        <div class="row">
        <div class="col-12 txt">
        <h3 style="color: gray">About Us</h3>
        </div>
            <div class="col-md-2 txt">
            <a href="https://www.linkedin.com/in/shubham-kumar-48b57023b/ ">
              <i class="fa fa-linkedin" style="font-size:48px;color:blue"></i>
                <br>
                </a>
                <p style="color: gray">LinkedIn</p>
                </div>
                <div class="col-md-2 txt">
              <a href="https://github.com/Shubham200020"> <i class="fa fa-github-square" style="font-size:48px; color: black;"></i>
              <br>
             
                <br></a>
                 <p style="color: gray">GIT HUB</p>
                </div>
               <div class="col-md-3 txt">
                <span class="glyphicon glyphicon-envelope" style="font-size:48px;color:yellow" ></span><br>
                
                <p style="color: gray">{{gmail}}</p>
                <br>
                </div>
                <div class="col-md-3 txt">
                
                
                 <p>
        <span class="glyphicon" style="font-size:48px;color:black">&#xe183;</span>
      </p> 
                <span class="bi bi-phone" style="font-size:48px;color:red"></span>
                <p style="color: gray">9322887529</p>
                <br>
                </div>
                <div class="col-md-2 txt" >
               <a href="https://www.instagram.com/skm.20.11/"><i class="fa fa-instagram" style="font-size:48px;color:red"></i>
                <br>
                </a>
                <p style="color: gray">Instagram</p>
             <div class="col-md-3 txt" >
             </div>
             
            </div>
            <!-- Add more columns as needed -->
       <div class="row">
       <div class="col">
      {{copyrite}}
       </div>
       </div>
       </div>
            
        </footer>
    </section>
</div>