<div class="myCont">
    <div>
    <form>
        <label>Name</label>
        <input type="text" name="" id="">
        <br>
        <label>Email</label>
        <input type="email" name="" id="">
        <br>
        <label>Phone</label>
        <input type="text" name="" id=""><br>
        <label>Date</label>
        <input type="date" name="" id=""><br>
        <label>Gender</label>
        <label class="custom-radio">
            <input type="radio" name="example" value="male">
            <span class="custom-radio-button"></span>
            Male
          </label>
          <label class="custom-radio">
            <input type="radio" name="example" value="1">
            <span class="custom-radio-button"></span>
            Female
          </label>
          <label class="custom-radio">
            <input type="radio" name="example" value="1">
            <span class="custom-radio-button"></span>
           Other
          </label><br>
        <input type="submit" value="Submit"><br>
       
          
    </form>
</div>
</div>
