<div [class.bar1]="isSpecial" class="bar" >
<ul>
  <li><a href="/">Home</a></li>
  <li><a href="/form">Application</a></li>
  <li><a href="/#contact">Contact</a></li>
  <li><a href="/#about">About</a></li>
  <li><a href="#"></a></li>
</ul> 

</div>
<div class="bar1">
<button  (click)="evnt()" class="menu-button" aria-label="Toggle Menu"><img src="assets\img\meny.png"></button>
</div><br>
<div>
  <router-outlet></router-outlet>
</div>
<div>
<app-footer></app-footer>
</div>
<!-- <router-outlet></router-outlet> -->